.content {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

.left-arrow {
    rotate: 90deg;
}

.right-arrow {
    rotate: 270deg;
}